.App {
  min-height: 100vh;
  background-color: #f8f9fa;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Tables */
.table-responsive {
  margin-top: 20px;
}

/* Navigation Bar */
.navbar-brand {
  font-weight: bold;
  font-size: 1.3rem;
}

/* FOr Buttons */
.btn {
  margin-right: 5px;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}
